
@{
    Layout = null;
}

@model  WebBDS.Models.User
@{
    string name = "", email = "", address = "", pw = "", id = "", role = "", phone = "", idIF = "";
    var user = Model;
    if (user.Email != null)
    {
        id = user._id;
        idIF = user.UserInfor._id;
        name = user.UserInfor.Name;
        email = user.Email;
        address = user.UserInfor.Address;
        pw = user.Password;
        role = user.UserInfor.Role;
        phone = user.UserInfor.Phone;
    }
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/Content/custom/User/assets/img/apple-icon.png">
    <link rel="icon" type="image/png" href="~/images/favicon.ico">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>
        User
    </title>
    <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
    <!--     Fonts and icons     -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <!-- CSS Files -->
    <link href="~/Content/custom/User/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
    <!-- CSS Just for demo purpose, don't include it in your project -->
    <link href="~/Content/custom/User/assets/demo/demo.css" rel="stylesheet" />
    <style>
        body, html {
            background-color: #000;
            color: #fff;
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        canvas {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 50;
        }

        .container-fluid {
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            z-index: 150;
            position: absolute;
        }
        .overlay {
            background-color: grey;
            opacity: 0.8;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            display: none;
            z-index: 998;
        }

        .thongbao {
            display: none;
            position: absolute;
            width: 30%;
            height: 40%;
            background-color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 5px;
            z-index: 999;
        }

        .thongbao__title {
            text-align: center;
            padding: 5px;
            font-weight: bold;
            color: #000;
            font-size: 25px;
        }

        .thongbao__des {
            text-align: center;
            padding: 10px;
            color: green
        }

        .thongbao__btn {
            text-align: center;
            margin-top: 30px;
            font-weight: bold;
            display: flex;
            justify-content: center;
        }

        .thongbao__btn--ok {
            background-color: green;
            width: max-content;
            height: max-content;
            border-radius: 5px;
            padding: 5px 20px;
            margin: 0 5px;
            color: #fff;
        }

        .thongbao__btn--huy {
            color: #fff;
            background-color: red;
            width: max-content;
            height: max-content;
            border-radius: 5px;
            padding: 5px 20px;
            margin: 0 5px;
        }

            .thongbao__btn--huy:hover, .thongbao__btn--ok:hover {
                cursor: pointer;
                opacity: 0.8;
                color: #000;
            }
    </style>
</head>

<body class="">
    <div class="wrapper ">
        <canvas id="bgCanvas"></canvas>
        <div class="sidebar" data-color="purple" data-background-color="white" data-image="" style="z-index:100">
            <div class="logo">
                <a href="#" class="simple-text logo-normal" style="font-weight:600">
                    <img src="~/images/user.png" style="width:50px" />
                    @name
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item ">
                        <a class="nav-link" href="/">
                            <p>Trang Chủ</p>
                        </a>
                    </li>
                    <li class="nav-item active ">
                        <a class="nav-link" href="#">
                            <i class="material-icons">person</i>
                            <p>User Profile</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Customer/ListBDSmark">
                            <i class="material-icons">content_paste</i>
                            <p>BDS quan tâm</p>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Customer/ListLich">
                            <i class="material-icons">content_paste</i>
                            <p>Lịch hẹn của bạn</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <!-- End Navbar -->
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="card">
                                <div class="card-header card-header-primary">
                                    <h4 class="card-title">Thông tin cá nhân</h4>
                                </div>
                                <div class="card-body">
                                    <form>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Name: @name</label>
                                                    <input type="text" class="form-control" id="name">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Email: @email</label>
                                                    <input type="text" class="form-control" id="email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Address: @address</label>
                                                    <input type="text" class="form-control" id="address">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Password</label>
                                                    <input type="text" class="form-control" id="password">
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Phone: @phone</label>
                                                    <input type="number" class="form-control" id="phone">
                                                </div>
                                            </div>
                                        </div>
                                        <button class="btn btn-primary pull-right" onclick=" updateUser(); return false;">Update Profile</button>
                                        <button class="btn btn-primary pull-right" onclick=" deleteUser(); return false;">Xóa tài khoản</button>
                                        <button class="btn btn-primary pull-right" onclick="  dangxuatUser()">Đăng Xuất</button>
                                        <div class="clearfix"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @*thông báo overlay*@
    <div class="overlay">
    </div>
    <div class="thongbao">
        <div class="thongbao__title">
            <h1>Thông báo</h1>
        </div>
        <div class="thongbao__des">
            <h3>Đăng nhập thành công !!!</h3>
        </div>
        <div class="thongbao__btn">
            <div class="thongbao__btn--ok">
                <p class="btn--ok">OK</p>
            </div>
            <div class="thongbao__btn--huy">
                <p class="btn--ok">Hủy</p>
            </div>
        </div>
    </div>
    <!--   Core JS Files   -->
    <script src="~/Content/custom/User/assets/js/core/jquery.min.js"></script>
    <script src="~/Content/custom/User/assets/js/core/popper.min.js"></script>
    <script src="~/Content/custom/User/assets/js/core/bootstrap-material-design.min.js"></script>
    <script src="~/Content/custom/User/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>

    <script src="~/Content/custom/User/assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>



    <script type="text/javascript">
        ////////////////////////////////////////
        var idUser = '@id';
        var idUserIF = '@idIF';
        var role = '@role';
        var name = "";
        var address = "";
        var phone = "";
        var email = "";
        var pass = "";


        function dangxuatUser() {
            $.ajax({
                url: '/Customer/Logout',
                data: { 'id': idUser },
                type: "POST",
                dataType: "json",
                success: function (data) {
                    window.location = '/Login/Index';
                }, error: function (er) {
                    alert("Fail: " + er);
                }
            });
        }
        function updateUser() {
             if ($('#name').val() === "") { name = '@name' }
            else { name = $('#name').val() }

            if ($('#email').val() === "") { email = '@email' }
            else { email = $('#email').val() }

            if ($('#address').val() === "") { address = '@address' }
            else { address = $('#address').val() }

            if ($('#phone').val() === "") { phone = '@phone' }
            else { phone = $('#phone').val() }

            if ($('#password').val() === "") {
                $(".thongbao__des h3").text('Vui lòng nhập password');
                $(".thongbao__des").css('color', 'red');
                $(".overlay").show();
                $(".thongbao").show();
                $(".thongbao__btn--huy").hide();
                $(".thongbao__btn--ok").click(function () {
                    $(".overlay").hide();
                    $(".thongbao").hide();
                });
                return;
            }
            else { pass = $('#password').val() }    




                $(".thongbao__des").css('color', 'green');
                $(".overlay").show();
                $(".thongbao").show();
                $(".thongbao__des h3").text('Loading ...');
                $(".thongbao__btn").hide();


            alert(idUser + "-" + idUserIF + "-" + name + "-" + email + "-" + address + "-" + phone + "-" + pass + "-" + role);

                $.ajax({
                    url: '/Customer/Edit',
                    data: { 'id': idUser, 'idIF': idUserIF, 'name': encodeURIComponent(name), 'email': email, 'address': address, 'phone': phone, 'password': pass, 'role': role },
                    type: "POST",
                    dataType: "json",
                    /*contentType: "application/x-www-form-urlencoded;charset=utf-8",*/
                    //contentType: "application/json",
                    success: function (data) {
                        if (data['mgs'] != null) {
                            $(".thongbao__des h3").text('Update thông tin thành công');
                            $(".thongbao__des").css('color', 'green');
                            $(".overlay").show();
                            $(".thongbao").show();
                            $(".thongbao__btn").show();
                            $(".thongbao__btn--huy").hide();
                            $(".thongbao__btn--ok").click(function () {
                                $(".thongbao__des h3").text('Loading ...');
                                $(".thongbao__btn").hide();
                                window.location = '/Customer/Index';
                            })
                        } else {
                            $(".thongbao__des h3").text('Update thông tin thất bại');
                            $(".thongbao__des").css('color', 'red');
                            $(".overlay").show();
                            $(".thongbao").show();
                            $(".thongbao__btn").show();
                            $(".thongbao__btn--huy").hide();
                            $(".thongbao__btn--ok").click(function () {
                                $(".overlay").hide();
                                $(".thongbao").hide();

                            });
                        }
                    }, error: function (er) {
                        $(".overlay").hide();
                        $(".thongbao").hide();
                        alert(er + "fail");
                    }
            });
        }

        function deleteUser() {
            $(".thongbao__des h3").text('Xác nhận xóa User');
            $(".thongbao__des").css('color', 'green');
            $(".overlay").show();
            $(".thongbao").show();
            $(".thongbao__btn--ok").click(function () {
                $(".thongbao__des h3").text('Loading ...');
                $(".thongbao__btn").hide();
                $.ajax({
                    url: '/Customer/Delete',
                    data: { 'id': idUser, 'idIF': idUserIF },
                    type: "POST",
                    dataType: "json",
                    //idIFIFntentType: "application/json",
                    success: function (data) {
                        if (data['mgs'] == true) {
                            $(".thongbao__des h3").text('Xóa User thành công');
                            $(".thongbao__des").css('color', 'green');
                            $(".overlay").show();
                            $(".thongbao").show();
                            $(".thongbao__btn").show();
                            $(".thongbao__btn--ok").hide();
                            $(".thongbao__btn--huy").click(function () {
                                $(".thongbao__des h3").text('Loading ...');
                                $(".thongbao__btn").hide();
                                window.location = '/Login/Index';
                            })  
                        } else {
                            $(".thongbao__des h3").text('Xóa User thất bại');
                            $(".thongbao__des").css('color', 'red');
                            $(".overlay").show();
                            $(".thongbao").show();
                            $(".thongbao__btn").show();
                            $(".thongbao__btn--ok").hide();
                            $(".thongbao__btn--huy").click(function () {
                                $(".overlay").hide();
                                $(".thongbao").hide();
                            })
                        }
                    }, error: function (er) {
                        alert("Fail: " + er);
                    }
                });
            })   
            $(".thongbao__btn--huy").click(function () {
                $(".overlay").hide();
                $(".thongbao").hide();
            });
        }
    </script>
    <script type="text/javascript">
        (function () {
            var requestAnimationFrame = window.requestAnimationFrame || window.mozRequestAnimationFrame || window.webkitRequestAnimationFrame || window.msRequestAnimationFrame || function (callback) {
                window.setTimeout(callback, 1000 / 60);
            };
            window.requestAnimationFrame = requestAnimationFrame;
        })();

        // Terrain stuff.
        var background = document.getElementById("bgCanvas"),
            bgCtx = background.getContext("2d"),
            width = window.innerWidth,
            height = document.body.offsetHeight;

        (height < 400) ? height = 400 : height;

        background.width = width;
        background.height = height;

        function Terrain(options) {
            options = options || {};
            this.terrain = document.createElement("canvas");
            this.terCtx = this.terrain.getContext("2d");
            this.scrollDelay = options.scrollDelay || 90;
            this.lastScroll = new Date().getTime();

            this.terrain.width = width;
            this.terrain.height = height;
            this.fillStyle = options.fillStyle || "#191D4C";
            this.mHeight = options.mHeight || height;

            // generate
            this.points = [];

            var displacement = options.displacement || 140,
                power = Math.pow(2, Math.ceil(Math.log(width) / (Math.log(2))));

            // set the start height and end height for the terrain
            this.points[0] = this.mHeight;//(this.mHeight - (Math.random() * this.mHeight / 2)) - displacement;
            this.points[power] = this.points[0];

            // create the rest of the points
            for (var i = 1; i < power; i *= 2) {
                for (var j = (power / i) / 2; j < power; j += power / i) {
                    this.points[j] = ((this.points[j - (power / i) / 2] + this.points[j + (power / i) / 2]) / 2) + Math.floor(Math.random() * -displacement + displacement);
                }
                displacement *= 0.6;
            }

            document.body.appendChild(this.terrain);
        }

        Terrain.prototype.update = function () {
            // draw the terrain
            this.terCtx.clearRect(0, 0, width, height);
            this.terCtx.fillStyle = this.fillStyle;

            if (new Date().getTime() > this.lastScroll + this.scrollDelay) {
                this.lastScroll = new Date().getTime();
                this.points.push(this.points.shift());
            }

            this.terCtx.beginPath();
            for (var i = 0; i <= width; i++) {
                if (i === 0) {
                    this.terCtx.moveTo(0, this.points[0]);
                } else if (this.points[i] !== undefined) {
                    this.terCtx.lineTo(i, this.points[i]);
                }
            }

            this.terCtx.lineTo(width, this.terrain.height);
            this.terCtx.lineTo(0, this.terrain.height);
            this.terCtx.lineTo(0, this.points[0]);
            this.terCtx.fill();
        }


        // Second canvas used for the stars
        bgCtx.fillStyle = '#05004c';
        bgCtx.fillRect(0, 0, width, height);

        // stars
        function Star(options) {
            this.size = Math.random() * 2;
            this.speed = Math.random() * .05;
            this.x = options.x;
            this.y = options.y;
        }

        Star.prototype.reset = function () {
            this.size = Math.random() * 2;
            this.speed = Math.random() * .05;
            this.x = width;
            this.y = Math.random() * height;
        }

        Star.prototype.update = function () {
            this.x -= this.speed;
            if (this.x < 0) {
                this.reset();
            } else {
                bgCtx.fillRect(this.x, this.y, this.size, this.size);
            }
        }

        function ShootingStar() {
            this.reset();
        }

        ShootingStar.prototype.reset = function () {
            this.x = Math.random() * width;
            this.y = 0;
            this.len = (Math.random() * 80) + 10;
            this.speed = (Math.random() * 10) + 6;
            this.size = (Math.random() * 1) + 0.1;
            // this is used so the shooting stars arent constant
            this.waitTime = new Date().getTime() + (Math.random() * 3000) + 500;
            this.active = false;
        }

        ShootingStar.prototype.update = function () {
            if (this.active) {
                this.x -= this.speed;
                this.y += this.speed;
                if (this.x < 0 || this.y >= height) {
                    this.reset();
                } else {
                    bgCtx.lineWidth = this.size;
                    bgCtx.beginPath();
                    bgCtx.moveTo(this.x, this.y);
                    bgCtx.lineTo(this.x + this.len, this.y - this.len);
                    bgCtx.stroke();
                }
            } else {
                if (this.waitTime < new Date().getTime()) {
                    this.active = true;
                }
            }
        }

        var entities = [];

        // init the stars
        for (var i = 0; i < height; i++) {
            entities.push(new Star({
                x: Math.random() * width,
                y: Math.random() * height
            }));
        }

        // Add 2 shooting stars that just cycle.
        entities.push(new ShootingStar());
        entities.push(new ShootingStar());
        entities.push(new ShootingStar());
        entities.push(new ShootingStar());
        entities.push(new ShootingStar());
        entities.push(new ShootingStar());
        entities.push(new ShootingStar());
        entities.push(new Terrain({ mHeight: (height) - 320 }));
        entities.push(new Terrain({ displacement: 120, scrollDelay: 50, fillStyle: "rgb(17,20,40)", mHeight: (height) - 200 }));
        entities.push(new Terrain({ displacement: 100, scrollDelay: 20, fillStyle: "rgb(10,10,5)", mHeight: height - 120 }));

        //animate background
        function animate() {
            bgCtx.fillStyle = '#110E19';
            bgCtx.fillRect(0, 0, width, height);
            bgCtx.fillStyle = '#ffffff';
            bgCtx.strokeStyle = '#ffffff';

            var entLen = entities.length;

            while (entLen--) {
                entities[entLen].update();
            }
            requestAnimationFrame(animate);
        }
        animate();

    </script>
    <script>
        $(document).ready(function () {
            $().ready(function () {
                $sidebar = $('.sidebar');

                $sidebar_img_container = $sidebar.find('.sidebar-background');

                $full_page = $('.full-page');

                $sidebar_responsive = $('body > .navbar-collapse');

                window_width = $(window).width();

                fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

                if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
                    if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
                        $('.fixed-plugin .dropdown').addClass('open');
                    }

                }

                $('.fixed-plugin a').click(function (event) {
                    // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
                    if ($(this).hasClass('switch-trigger')) {
                        if (event.stopPropagation) {
                            event.stopPropagation();
                        } else if (window.event) {
                            window.event.cancelBubble = true;
                        }
                    }
                });

                $('.fixed-plugin .active-color span').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-color', new_color);
                    }

                    if ($full_page.length != 0) {
                        $full_page.attr('filter-color', new_color);
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.attr('data-color', new_color);
                    }
                });

                $('.fixed-plugin .background-color .badge').click(function () {
                    $(this).siblings().removeClass('active');
                    $(this).addClass('active');

                    var new_color = $(this).data('background-color');

                    if ($sidebar.length != 0) {
                        $sidebar.attr('data-background-color', new_color);
                    }
                });

                $('.fixed-plugin .img-holder').click(function () {
                    $full_page_background = $('.full-page-background');

                    $(this).parent('li').siblings().removeClass('active');
                    $(this).parent('li').addClass('active');


                    var new_image = $(this).find("img").attr('src');

                    if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        $sidebar_img_container.fadeOut('fast', function () {
                            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                            $sidebar_img_container.fadeIn('fast');
                        });
                    }

                    if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $full_page_background.fadeOut('fast', function () {
                            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                            $full_page_background.fadeIn('fast');
                        });
                    }

                    if ($('.switch-sidebar-image input:checked').length == 0) {
                        var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
                        var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

                        $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
                        $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
                    }

                    if ($sidebar_responsive.length != 0) {
                        $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
                    }
                });

                $('.switch-sidebar-image input').change(function () {
                    $full_page_background = $('.full-page-background');

                    $input = $(this);

                    if ($input.is(':checked')) {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar_img_container.fadeIn('fast');
                            $sidebar.attr('data-image', '#');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page_background.fadeIn('fast');
                            $full_page.attr('data-image', '#');
                        }

                        background_image = true;
                    } else {
                        if ($sidebar_img_container.length != 0) {
                            $sidebar.removeAttr('data-image');
                            $sidebar_img_container.fadeOut('fast');
                        }

                        if ($full_page_background.length != 0) {
                            $full_page.removeAttr('data-image', '#');
                            $full_page_background.fadeOut('fast');
                        }

                        background_image = false;
                    }
                });

                $('.switch-sidebar-mini input').change(function () {
                    $body = $('body');

                    $input = $(this);

                    if (md.misc.sidebar_mini_active == true) {
                        $('body').removeClass('sidebar-mini');
                        md.misc.sidebar_mini_active = false;

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

                    } else {

                        $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

                        setTimeout(function () {
                            $('body').addClass('sidebar-mini');

                            md.misc.sidebar_mini_active = true;
                        }, 300);
                    }

                    // we simulate the window Resize so the charts will get updated in realtime.
                    var simulateWindowResize = setInterval(function () {
                        window.dispatchEvent(new Event('resize'));
                    }, 180);

                    // we stop the simulation of Window Resize after the animations are completed
                    setTimeout(function () {
                        clearInterval(simulateWindowResize);
                    }, 1000);

                });
            });
        });</script>
</body>

</html>
