@{
    Layout = null;
    string mess = ViewData["mess"]?.ToString();
}
@model  List<WebBDS.Models.LoaiBDS>
@{
    List<WebBDS.Models.LoaiBDS> list = new List<WebBDS.Models.LoaiBDS>();
    if (Model != null)
    {
        list = Model.ToList();
    }
}

<!DOCTYPE html>
<html>
<head>
    <title>Thêm BDS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="Official Signup Form Responsive, Login form web template,Flat Pricing tables,Flat Drop downs  Sign up Web Templates, Flat Web Templates, Login signup Responsive web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <!-- fonts -->
    <link href="//fonts.googleapis.com/css?family=Raleway:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="//fonts.googleapis.com/css?family=Monoton" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" />
    <!-- /fonts -->
    <!-- css -->
    <link href="~/Content/custom/Login/css/font-awesome.min.css" />
    <link href="~/Content/custom/Login/css/style.css" rel='stylesheet' type='text/css' media="all" />
    <!-- /css -->
    <link rel="icon" type="image/png" href="~/images/favicon.ico">

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script>
        function initMap() {
            const uluru = { lat: 10.762622, lng: 106.660172 };
            const map = new google.maps.Map(document.getElementById("map"), {
                zoom: 8,
                center: { lat: 10.762622, lng: 106.660172 },
            });
            //const marker = new google.maps.Marker({
            //    position: uluru,
            //    map: map,
            //});
            const geocoder = new google.maps.Geocoder();
            document.getElementById("submit").addEventListener("click", () => {
                geocodeAddress(geocoder, map);
            });
        }
        function geocodeAddress(geocoder, resultsMap) {
            const address = document.getElementById("diachi").value;
            geocoder
                .geocode({ address: address })
                .then(({ results }) => {
                    resultsMap.setCenter(results[0].geometry.location);
                    new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location,
                    });

                    $(".vido").val(results[0].geometry.location.lat());
                    $(".kinhdo").val(results[0].geometry.location.lng());
                })
                .catch((e) =>
                    alert("Geocode was not successful for the following reason: " + e)
                );
        }
    </script>

    <style>
        .content-w3ls .content-agile1 {
            height: 950px;
        }

        .lbEdit {
            width: 300px;
            padding: 0 15px;
            color: #fff;
            font-size: 17px;
            font-weight: 200;
            background-color: transparent;
            margin: 0 auto 10px;
            display: block;
            outline: none;
        }

        .kvDo {
            text-decoration: none;
            color: #fff;
        }

            .kvDo:hover {
                opacity: 0.8;
                cursor: pointer;
            }

        .overlay {
            background-color: grey;
            opacity: 0.8;
            position: absolute;
            top: 0;
            bottom: -50px;
            left: 0;
            right: 0;
            display: none;
            z-index: 998;
        }

        .thongbao {
            display: none;
            position: absolute;
            width: 60%;
            height: 40%;
            background-color: #fff;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            border-radius: 5px;
            z-index: 999;
        }

        #floating-panel {
            height: 40px !important;
        }

        #diachi {
            margin: 5px;
            height: 20px;
            width: 600px;
            font-size: 18px;
        }

        #submit {
            padding: 5px !important;
            font-weight: 700 !important;
        }
    </style>
</head>
<body style="position:relative">
    <h1 class="w3ls" style="font-weight:600"><a href="#" style="color:#fff">Thêm Bất Động Sản</a></h1>
    <span class="thongbaoloi">@mess</span>
    <div class="content-w3ls">
        <div id="imageSelector" style="width:45%;float: left;height: 1000px;padding:5px; overflow:scroll">
        </div>
        <div class="content-agile2">
            <form action="#" method="post" enctype="multipart/form-data">
                <div class="form-control w3layouts">
                    <input type="file" id="firstname" name="file" required="" multiple accept="image/*">
                </div>

                <div class="form-control w3layouts">
                    <input type="text" id="email" name="Name" placeholder="Tên Dự Án" title="Please enter a valid name" required="">
                </div>

                <div class="form-control agileinfo">
                    <input type="text" class="lock" name="Mota" placeholder="Mô tả" id="address1" title="Please enter a valid mota" required="">
                </div>

                <div class="form-control agileinfo">
                    <input type="text" class="lock vitri" name="Vitri" placeholder="Vị trí" id="address1" title="Please enter a valid mota" required="">
                </div>

                <div class="form-control agileinfo">
                    <input type="number" class="lock" name="Dientich" placeholder="Diện tích" id="address1" title="Please enter a valid mota" required="">
                </div>

                <div class="form-control agileinfo">
                    <input type="text" class="lock" name="Gia" placeholder="Gia" id="password1" title="Please enter a valid gia" required="">
                </div>

                <label style="color:#fff; font-weight:bold" for="email" class="lbEdit">
                    Lấy Kinh độ và Vĩ độ <a class="kvDo" onclick="showGoogle()">( Click )</a>
                </label>
                <div class="form-control agileinfo">
                    <input type="text" class="lock kinhdo" name="KinhDo" readonly placeholder="Kinh Độ" id="address1" title="Please enter a valid kinh do" required="">
                </div>

                <div class="form-control agileinfo">
                    <input type="text" class="lock vido" name="ViDo" readonly placeholder="Vĩ Độ" id="address1" title="Please enter a valid vĩ độ" required="">
                </div>

                <div class="form-control agileinfo">
                    <select name="Status" id="address1" style="width:330px">
                        <option style="color:#000" name="Status" value="Mua">Mua</option>
                        <option style="color:#000" name="Status" value="Thue">Thuê</option>
                    </select>
                </div>

                <div class="form-control agileinfo">
                    <select name="maloaiBDS" id="address1" style="width:330px">
                        @foreach (var item in list)
                        {
                            <option style="color:#000" name="maloaiBDS" value="@item._id">@item.Name</option>
                        }
                    </select>
                </div>

                <input type="submit" class="register" value="Thêm">
                <a href="/Admin/ListBDS">
                    <input class="register" type="button" value="Trở Về">
                </a>
            </form>
        </div>
        <div class="clear"></div>
    </div>

    @*thông báo overlay*@
    <div class="overlay">
    </div>
    <div class="thongbao">
        <div id="floating-panel">
            <input id="diachi" type="text" value="Ho Chi Minh City" />
            <input id="submit" type="button" value="Get lat & lng" />
            <input id="exit" type="button" value="Đóng" />
        </div>
        <div id="map" style="height:100%;width:100%"></div>
    </div>

    <script src="~/Content/custom/User/assets/js/core/jquery.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDs3gIi0RSsSqFQHqlW_dICB5idZj7xIaI&callback=initMap&libraries=&v=weekly"
            async></script>
</body>
</html>

<script>

    function showGoogle() {
        $(".overlay").toggle();
        $(".thongbao").toggle();
        $('#diachi').val($('.vitri').val());
    }
    $('#exit').click(function () {
        $(".overlay").toggle();
        $(".thongbao").toggle();
    })
</script>
<script>
    $(document).ready(function () {
        document.getElementById("firstname").onchange = function () {
            var arr = event.target.files;
            for (let i = 0; i < arr.length; i++) {
                //const className = "imgBDSselect" + i;
                //console.log(className);
                var file = event.target.files[i];
                var reader = new FileReader();
                reader.onload = function (e) {
                    var elem = document.createElement("img");
                    elem.setAttribute("src", e.target.result);
                    elem.setAttribute("alt", "https://i.pinimg.com/originals/ae/8a/c2/ae8ac2fa217d23aadcc913989fcc34a2.png");
                    document.getElementById("imageSelector").appendChild(elem);
                };
                reader.readAsDataURL(file);
            }
        };

        var mess = '@mess';
        if (mess !== "") {
            var action = setTimeout(function () {
                window.location = '/Admin/ListBDS';
            }, 1000);
        }
    })
</script>